* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background: #FFF;
}

a {
  text-decoration: none !important;
}

header .navbar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin: auto;
  position: relative;
}

header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 10px;
}

header .navbar .nav-links .nav-links-content li {
  margin-left: 79px;
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: relative;
  float: left;
}

header .navbar .nav-links .nav-links-content li .active {
  color: #3B1F9E;
}

header .navbar .nav-links .nav-links-content li:hover {
  cursor: pointer;
}

header .navbar .nav-links .nav-links-content li:hover > ul,
header .navbar .nav-links .nav-links-content li ul:hover {
  visibility: visible !important;
  opacity: 1 !important;
  display: block !important;
}

header .navbar .nav-links .nav-links-content li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: -10px;
  top: 40px;
  right: 0;
  display: none;
  z-index: 1;
}

header .navbar .nav-links .nav-links-content li ul li {
  clear: both;
  width: 100%;
  padding: 0px;
}

header .navbar .nav-links .nav-links-content li a {
  font-size: 14px;
  line-height: 19px;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: rgba(19, 9, 44, 0.7);
}

header .navbar .nav-links .nav-links-content li a .fas {
  margin-left: 10px;
}

#side-nav-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -230px;
  background: #fafafa;
  color: black;
  width: 230px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

#side-nav-wrapper.active {
  right: 0;
}

#side-nav-wrapper ul {
  padding: 0;
  margin: 0;
  margin-top: 30px !important;
}

#side-nav-wrapper li {
  display: block;
  list-style: none;
  padding: 15px 10px 15px 25px;
  cursor: pointer;
}

#side-nav-wrapper li a {
  font-size: 14px;
  line-height: 19px;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgba(19, 9, 44, 0.7);
}

#side-nav-wrapper li a .fas {
  margin-left: 10px;
}

#side-nav-wrapper li:hover {
  cursor: pointer;
}

#side-nav-wrapper li:hover > ul,
#side-nav-wrapper li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

#side-nav-wrapper li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 120px;
  left: 20px;
  display: none;
}

#side-nav-wrapper li ul li {
  clear: both;
  width: 100%;
  padding: 10px;
  background: white;
}

#side-nav-wrapper a {
  color: white;
}

.fa-bars,
.fa-times {
  display: none;
  position: absolute;
  font-size: 25px;
  right: 25px;
  top: 15px;
  z-index: 100;
  cursor: pointer;
}

@media (max-width: 1069px) {
  .nav-links {
    display: none !important;
  }
  .fa-bars {
    display: block;
  }
  .header-logo {
    margin-top: 10px;
  }
}

.banner-wrapper {
  width: 80%;
  max-width: 1248px;
  margin: 30px auto 20px;
  padding: 5px;
}

.banner-wrapper .b-btn {
  padding: 10px 20px;
  border-radius: 40px;
  outline: none;
  border: none;
  font-size: 20px;
  line-height: 27px;
  cursor: pointer;
}

.banner-wrapper .b-btn a {
  text-decoration: none;
}

.banner-wrapper .comp-btn {
  border: 1px solid #3B1F9E;
  margin-right: 5px;
  margin-bottom: 7px;
  background: #3B1F9E;
}

.banner-wrapper .comp-btn a {
  color: #fafafa;
}

.banner-wrapper .dup-btn {
  background: #FFF;
  border: 1px solid #3B1F9E;
  margin-right: 10px;
}

.banner-wrapper .dup-btn a {
  color: #3B1F9E;
}

.banner-wrapper .banner-text h3 {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  color: #11092C;
}

.banner-wrapper .banner-text p {
  font-size: 18px;
  line-height: 160%;
}

.banner-wrapper .banner-img {
  display: none;
}

@media (min-width: 952px) {
  .banner-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0px !important;
    padding-top: 0px;
  }
  .banner-wrapper button {
    width: 262px;
    height: 62px;
  }
  .banner-wrapper .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner-wrapper .banner .banner-text {
    width: 70%;
  }
  .banner-wrapper .banner .banner-text h3 {
    margin-bottom: 50px;
  }
  .banner-wrapper .banner .banner-text p {
    margin-bottom: 65px;
  }
  .banner-wrapper .banner-img {
    width: 60%;
    display: block;
  }
  .banner-wrapper .banner-img img {
    width: 100%;
  }
}

@media (max-width: 1242px) {
  .banner-text {
    width: 80% !important;
  }
  .banner-text h3,
  .banner-text p {
    margin-bottom: 30px !important;
  }
  .banner-text .banner-img {
    width: 70% !important;
  }
}

@media (max-width: 1069px) {
  .banner-wrapper {
    margin-top: 50px !important;
  }
}

@media (max-width: 639px) {
  .banner-text {
    width: 100% !important;
  }
}

@media (max-width: 515px) {
  .banner-text h3 {
    font-size: 30px !important;
    margin-bottom: 20px !important;
  }
  .banner-text p {
    margin-bottom: 20px !important;
  }
}

.about-wrapper .about-content {
  width: 80%;
  max-width: 1248px;
  margin: 102.78px auto 20px;
}

.about-wrapper .about-content h3 {
  font-size: 28px;
  line-height: 130%;
  color: #11092C;
  font-weight: 600;
  text-align: right;
  padding-right: 80px;
}

.feature-wrapper {
  background-color: rgba(245, 244, 250, 0.25);
}

.feature-wrapper .feature-content {
  width: 80%;
  max-width: 1248px;
  margin: auto;
  padding-top: 47px;
  padding-bottom: 100px;
}

.feature-wrapper .feature-content h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  color: #11092C;
}

.feature-wrapper .feature-content .feature-content-text-wrapper {
  margin-top: 102px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (365px)[3];
      grid-template-columns: repeat(3, 365px);
  grid-auto-rows: minmax(365px, 365px);
  grid-column-gap: 51px;
}

.feature-wrapper .feature-content .feature-content-text-wrapper .feature-content-text {
  background: #FFF;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  padding: 25px 15px;
}

.feature-wrapper .feature-content .feature-content-text-wrapper .feature-content-text .feature-content-asset {
  width: 60px;
  height: 60px;
  margin-bottom: 22px;
  border-radius: 5px;
}

.feature-wrapper .feature-content .feature-content-text-wrapper .feature-content-text .asset-1 {
  background: rgba(59, 31, 158, 0.1);
}

.feature-wrapper .feature-content .feature-content-text-wrapper .feature-content-text .asset-2 {
  background: #FFF1F3;
}

.feature-wrapper .feature-content .feature-content-text-wrapper .feature-content-text .asset-3 {
  background: rgba(229, 192, 21, 0.2);
}

.feature-wrapper .feature-content .feature-content-text-wrapper .feature-content-text h2 {
  font-size: 20px;
  line-height: 130%;
  color: #11092C;
  font-weight: bold;
  margin-bottom: 20px;
}

.feature-wrapper .feature-content .feature-content-text-wrapper .feature-content-text p {
  font-size: 14px;
  font-weight: 600;
  line-height: 200%;
  color: rgba(51, 51, 51, 0.8);
  padding-right: 45px;
}

.pricing-wrapper {
  background: #FFF;
  padding-top: 50px;
  padding-bottom: 149px;
}

.pricing-content-wrapper {
  width: 80%;
  max-width: 1248px;
  margin: auto;
}

.pricing-content-wrapper h3 {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 130%;
  color: #11092C;
  margin-bottom: 18px;
}

.pricing-content-wrapper hr {
  width: 43px;
  border: 4px solid #3B1F9E;
  margin-top: 0px;
  border-radius: 5px;
}

.pricing-content-wrapper .price-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (386px)[3];
      grid-template-columns: repeat(3, 386px);
  grid-auto-rows: minmax(638px, 638px);
  grid-column-gap: 19px;
  margin-top: 78.63px;
}

.pricing-content-wrapper .price-container .pricing-contents {
  background: #FFFFFF;
  border: 1px solid rgba(196, 196, 196, 0.3);
  border-radius: 10px;
  overflow: hidden;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text {
  position: relative;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .rectangle {
  position: absolute;
  height: 205.37px;
  width: 386px;
  border-radius: 0 0 240px 50%/60px;
  z-index: 1;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .r1 {
  background: #C4C4C4;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .r2 {
  background: #FFF1F3;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .r3 {
  background: #C4C4C4;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text h3 {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  padding-top: 221.37px;
  margin-bottom: 5px;
  color: #3F3D74;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text hr {
  width: 272px;
  border: 1px solid rgba(196, 196, 196, 0.4);
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .users {
  margin-top: 28px;
  text-align: center;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .users p i {
  margin-right: 31px;
  color: #3B1F9E;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .money {
  margin-top: 43px;
  padding: 0px;
  color: rgba(59, 31, 158, 0.9);
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .button-container {
  text-align: center;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .button-container button {
  width: 222px;
  height: 40px;
  margin: 30px auto 20px;
  text-align: center;
  border-radius: 20px;
  outline: none;
  border: none;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .button-container button a {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .button-container .money-btn-1 {
  background: #FFF;
  border: 1px solid #3B1F9E;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .button-container .money-btn-1 a {
  color: #3B1F9E;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .button-container .money-btn-2 {
  background: #3B1F9E;
  border: 1px solid #3B1F9E;
}

.pricing-content-wrapper .price-container .pricing-contents .pricing-content-text .button-container .money-btn-2 a {
  color: #FFF;
}

.testimony-content {
  width: 80%;
  max-width: 1248px;
  margin: auto;
  margin-bottom: 94px;
}

.testimony-content h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 130%;
  color: rgba(51, 51, 51, 0.8);
  text-align: center;
}

.testimony-content hr {
  width: 43px;
  border: 4px solid #3B1F9E;
  border-radius: 5px;
  margin-top: 14px;
}

.testimony-content .testimonials-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  margin-top: 83px;
}

.testimony-content .testimonials-wrapper .testimonials i {
  font-size: 40px;
  line-height: 160%;
  color: #4C33A6;
  opacity: 0.3;
  margin-bottom: 20px;
}

.testimony-content .testimonials-wrapper .testimonials p {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #514C65;
  margin-bottom: 78px;
}

.testimony-content .testimonials-wrapper .testimonials .testimonials-img img {
  margin-right: 16px;
}

.testimony-content cite {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #11092C;
}

.news-content {
  text-align: center;
  margin-bottom: 14px;
}

.news-content h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: rgba(59, 31, 158, 0.8);
  text-transform: uppercase;
}

.news-content .news-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news-content .news-input input {
  padding: 25px 20px;
  width: 496px;
  background: #FFFFFF;
  border: 1px solid rgba(196, 196, 196, 0.8);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px 0px 0px 10px;
}

.news-content .news-input div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 93px;
  background: #3B1F9E;
  border: 1px solid #3B1F9E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 0px 10px 10px 0px;
}

.news-content .news-input div i {
  color: white;
  font-size: 40px;
}

footer {
  width: 100%;
  height: 365px;
  background: #3B1F9E;
}
/*# sourceMappingURL=main.css.map */
