body {
  font-family: "Nunito", sans-serif;
  background: #FAFAFA;
}

a {
  text-decoration: none !important;
}

header .navbar {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  position: relative;
}

header .navbar .header-logo {
  margin-top: 0px !important;
}

header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-top: 10px;
}

header .navbar .nav-links .nav-links-content li {
  margin-left: 79px;
  display: block;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  position: relative;
  float: left;
}

header .navbar .nav-links .nav-links-content li:hover {
  cursor: pointer;
}

header .navbar .nav-links .nav-links-content li:hover > ul,
header .navbar .nav-links .nav-links-content li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

header .navbar .nav-links .nav-links-content li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-top: 0px;
  right: 0;
  display: none;
}

header .navbar .nav-links .nav-links-content li ul li {
  clear: both;
  width: 100%;
  padding: 0px;
}

header .navbar .nav-links .nav-links-content li a {
  font-size: 14px;
  line-height: 19px;
  display: block;
  padding: 20px;
  text-decoration: none;
  color: rgba(19, 9, 44, 0.7);
}

header .navbar .nav-links .nav-links-content li a .fas {
  margin-left: 10px;
}

#side-nav-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -230px;
  background: #fafafa;
  color: black;
  width: 230px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#side-nav-wrapper.active {
  right: 0;
}

#side-nav-wrapper ul {
  padding: 0;
  margin: 0;
  margin-top: 30px !important;
}

#side-nav-wrapper li {
  display: block;
  list-style: none;
  padding: 15px 10px 15px 25px;
  cursor: pointer;
}

#side-nav-wrapper li a {
  font-size: 14px;
  line-height: 19px;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgba(19, 9, 44, 0.7);
}

#side-nav-wrapper li a .fas {
  margin-left: 10px;
}

#side-nav-wrapper li:hover {
  cursor: pointer;
}

#side-nav-wrapper li:hover > ul,
#side-nav-wrapper li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

#side-nav-wrapper li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  top: 120px;
  left: 20px;
  display: none;
}

#side-nav-wrapper li ul li {
  clear: both;
  width: 100%;
  padding: 10px;
  background: white;
}

#side-nav-wrapper a {
  color: white;
}

.fa-bars {
  display: none;
  position: absolute;
  font-size: 40px;
  right: 25px;
  top: 15px;
  z-index: 100;
}

@media (max-width: 934px) {
  .nav-links {
    display: none !important;
  }
  .fa-bars {
    display: block;
  }
  .header-logo {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=main.css.map */
